/* ------------------Charte graphique--------------------- */
:root {
  --bg: rgb(28, 28, 28);
  --primary: rgba(52, 153, 55, 1);
  --secondary: rgb(117, 76, 36);
}

/* ------------------Fonts--------------------- */
@font-face {
  font-family: "AlfaSlabOne-Regular";
  src: url("../fonts/AlfaSlabOne-Regular.woff2") format("woff2");
}

/* ------------------Fonts--------------------- */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Konstructor";
  src: url("../fonts/KonstruktorRegular.woff2") format("woff2");
}

/* ------------------Reset--------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ------------------Définition du site--------------------- */
body {
  background-color: var(--bg);
  font-family: "Roboto", sans-serif;
  color: #fff;
}

h1, h2, h3 {
  font-family: "AlfaSlabOne-Regular";
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 100;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 50px;
}

.containermobile {
  max-width: 1200px;
}

.button {
  color: var(--primary);
  background-color: rgba(28, 28, 28, 0.604);
  font-weight: 600;
  padding: 14px 30px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  width: 75%;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

.flex-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.db {
  display: block;
}

.hidden {
  display: none;
}

/* ------------------Header--------------------- */
#generalheader {
  height: 100vh;
  position: relative;
  background-image: url(../frontend/img/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1200px;
}

#logmenu { 
  display: none;
}

/* ------------------Menu Burger--------------------- */
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 40px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: 90%;
}

#menuToggle a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(255, 255, 255);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 103vw;
  height: 103vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: var(--bg);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 20px 0;
  font-size: 50px;
  font-family: "Konstructor";
  font-weight: 600;
}

#menu a:hover {
  color: var(--primary);
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#corporation {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 90%;
  position: absolute;
  bottom: 25px;
}

#corporation img {
  width: 180px;
  margin-bottom: 3px;
}

#menudesktop {
  display: none;
}

/* ------------------Logo--------------------- */
#logo a {
  display: flex;
  justify-content: flex-end;
}

#logo img {
  width: 140px;
  height: 62px;
}

#endheader {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#endheader h1,
#endheader a {
  width: 100%;
}

#endheader h1 {
  text-align: center;
  margin: 0 20px 30px;
  background-color: #1c1c1c9a;
  border-radius: 15px;
  padding: 10px 20px;
}

#otherpagesheader {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-otherpages {
  height: 30%;
  position: relative;
  background-image: url(../frontend/img/bg-pages.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

.titreotherpages h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  padding: 70px 0;
}

/* ------------------Présentation Bières--------------------- */
#bblonde {
  background: #1c1c1c;
  background: radial-gradient(circle at center center, #1c1c1c 3%, #9e900f 80%);
  height: 100vh;
}

#bbrune {
  background: #1c1c1c;
  background: radial-gradient(circle at center center, #1c1c1c 3%, #3f2d11 80%);
  height: 100vh;
}

#bblanche {
  background: #1c1c1c;
  background: radial-gradient(circle at center center, #1c1c1c 3%, #adaf9e 80%);
  height: 100vh;
}

.presentationbiere {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.titrebiere {
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}

.buttonbiere {
  width: 60%;
  margin: 3% auto;
}

.linkbeer {
  margin: 5px auto;
}

.bieres {
  display: grid; 
  grid-auto-flow: row dense; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-areas: 
    "bblonde" 
    "bbrune"
    "bblanche"; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
} 

.bblonde {
  grid-area: bblonde;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  align-content: center;
}

.bbrune {
  grid-area: bbrune;
}

.bblanche {
  grid-area: bblanche;
}

.bbrune, .bblanche {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  align-content: center;
}

.titrebiere {
width: 100%;
margin-top: 3%;
}

.verrebiere {
  width: 150px;
  height: auto;
  margin: 0px auto;
}

.verrebiere img {
  width: 100%;
  height: auto;
}

/* ------------------Réseaux Sociaux--------------------- */
#socials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#socials h2 {
  margin: 60px 0 20px;
  width: 100%;
}

#socials a {
  margin: 8px 0;
}

#socials a:last-child {
  margin-bottom: 20px;
}

.articlers {
  width: 100%;
  margin: 18px 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #2c2a2a;
  border-radius: 15px;
  box-shadow: rgba(69, 69, 73, 0.2) 0px 1px 7px 0px;
}

.articlers:hover {
  box-shadow: rgba(69, 69, 73, 0.2) 0px 7px 29px 0px;
}

.articlers img {
  width: 80%;
  border-radius: 15px;
}

.hiddenmobile {
  display: none;
}

/* ------------------Maps--------------------- */
#homemap iframe {
  max-width: 100%;
  max-height: 350px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 75px;
}

#map {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

#cadretxtmap {
  background-color: var(--secondary);
  padding: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#cadretxtmap h3 {
  margin-bottom: 10px;
}

#map iframe {
  max-width: 100%;
  max-height: 350px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* ------------------Footer--------------------- */
#generalfooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 3px solid var(--primary);
}

#linklogofooter {
  display: flex;
  justify-content: center;
}

#logofooter {
  width: 50vw;
  margin: 30px 0 25px;
}

#lieu {
  width: 100%;
  margin-bottom: 10px;
}

#lieu h4 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

#generalfooter p {
  text-align: center;
}

#linksfooter {
  margin: 25px 0;
  width: 100%;
}

.linkfooter {
  width: 100%;
  color: #fff;
}

.st0 {
  fill:#349937;
}

.linkfooter:hover {
  color: var(--primary);
}

#socialsnetwork {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
}

#socialsnetwork a {
  display: flex;
  justify-content: center;
}

.iconsocialsnetwork {
  width: 60px;
  height: 60px;
}

.st0:hover {
  fill: var(--secondary);
}

#alcoolmoderation {
  font-size: 0.6rem;
  width: 100%;
}

/* ------------------Page Contact--------------------- */
#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact h1 {
  width: 100%;
  font-size: 3rem;
  margin: 15px auto;
  text-align: center;
}

#contact h4 {
  margin-bottom: 45px;
  width: 100%;
}

#contact p {
  text-align: center;
}

#contact p:not(.contactflex) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px auto;
}

#contactform label {
  width: 100%;
  margin: 8px auto;
  text-align: left; 
}

#contactform input:not(#rgpd) {
  width: 100%;
  margin: 8px auto;
}

#contact input:not(#envoyer, #rgpd),
#contact textarea {
  background-color: rgb(231, 221, 221);
  border: none;
  border: 2px solid var(--primary);
  border-radius: 6px;
  margin: 6px 3px;
  padding: 15px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  width: 80vw;
}

#contact textarea {
  padding: 15px 15px;
}

#contact input {
  padding: 6px;
  font-family: 'Roboto', sans-serif;
}

#selectionfichier {
  margin: 15px auto;
}

.pbutton {
  justify-content: center;
}

#envoyer {
  width: 100%;
  margin: 15px 0 100px;
  padding: 5px;
  font-size: 1.2rem;
  text-transform: none;
}

#cadretxtmap h3 {
  font-size: 1rem;
}

#cadretxtmap p {
  font-size: 0.7rem;
}

/* ------------------Pages Bières---------------------- */
#pagesbiereheader {
  max-width: 1200px;
  margin: 0 auto;
}

.presbiere {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 50px auto;
}

.presbiere img {
  width: 70%;
  margin-left: 5px;
}

.titrebiere {
  width: 100%;
  margin-top: 5px;
}

.grouppresbiere {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.detailbiere {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.explicationbiere {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  margin: 40px auto;
}

.explicationbiere h6 {
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  color: var(--primary);
}

.explicationbiere p {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 3px;
}

#type,
#niveau-alcool,
#ibu,
#degre {
  width: 45%;
  margin: 15px 0;
}

#vsg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.vsg {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.vsg p {
  margin-top: 5px;
  width: 80%;
}

.pictotitre {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.pictotitre h3 {
  width: 100%;
  text-align: center;
}

#biereplus {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#biereplus a {
  width: 100%;
  margin: 15px;
}

.biereplus {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.2) 5px 5px 5px 5px;
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.biereplus:hover {
  box-shadow: rgba(213, 213, 218, 0.2) 15px 15px 15px 15px;
}

.biereplus img {
  width: 30%;
}

.biereplus h2 {
  width: 100%;
  text-align: center;
}

/* ------------------Page Nos Valeurs---------------------- */
#valeurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#valeurs h1 {
  width: 100%;
  font-size: 3rem;
  margin: 15px auto;
  text-align: center;
}

.valeurssection {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 35px;
  justify-content: center;
}

.txtvaleurs {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 50px;
}

#bio img,
#responsable img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.txtvaleurs h2,
.txtvaleurs p {
  margin-bottom: 8px;
}

.txtvaleurs ul {
  margin-left: 15px;
}

.txtvaleurs li {
  list-style-type: disc;
  margin: 3px 0;
}

/* ------------------Page RGPD, Mentions Légales---------------------- */

#rgpd h1, #mentionslegales h1 {
  width: 100%;
  text-align: center;
  margin: 30px auto;
}

#rgpd h3, #mentionslegales h3 {
  width: 100%;
  text-align: initial;
  margin: 25px auto 20px;
}

#rgpd p:last-child, #mentionslegales p:last-child {
  margin-bottom : 70px;
}

/* ------------------Page Login---------------------- */
#login {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto 70px;
}

#login h1 {
  width: 100%;
  text-align: center;
  margin: 30px auto;
}

#login form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#login form button {
  margin: 30px 0 100px;
}


/* ------------------Pages Errors---------------------- */
.body-error {
  background: url("/public/frontend/img/beear-404page.jpg") bottom fixed no-repeat;
  background-size: cover;
  position: relative;
}

.div-error {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  right: 25%;
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.h-bg-error {
  background-color: rgba(28, 28, 28, 0.822);
  border-radius: 15px;
  padding: 15px;
}

.div-error h1 {
  color: var(--primary);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
}

.h2-error {
  text-align: center;
}

.div-error button {
  margin-top: 30px;
  padding: 15px;
  background-color: #1c1c1ce0;
}

.div-error button:hover {
  background-color: var(--primary);
}

/* ------------------Page Dashboard---------------------- */

.pres-dashboard {
  background: linear-gradient(to bottom, rgba(101, 101, 95, 0.107), rgba(0, 0, 0, 0.545)),url('/public/admin/img/bg-dashboard.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 20px;
  margin-bottom: 40px;
}

.pres-dashboard a {
  width: 170px;
  height: 50px;
  font-size: 0.8em;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return {
  position: absolute;
  top: 10px;
  left: 10px;
}

.deco {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pres-txt-dashboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.pres-txt-dashboard h1 {
  width: 100%;
  margin-bottom: 20px;
}

.pres-txt-dashboard h4 {
  width: 100%;
  margin-bottom: 40px;
}

.dashboardmenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboardmenu li {
  width: 100%;
  margin: 0 70px 30px;
}

.dashboardmenu a {
  width: 100%;
  padding: 30px;
  display: block;
}

#create-beer, #register-user, #update-user {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#create-beer button, #register-user button, #update-user button {
  margin: 40px auto 100px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group label, .form-group input, .form-group textarea, .form-group select {
  width: 100%;
  margin: 5px auto 10px;
  text-align: initial;
}

.form-group input, .form-group textarea, .form-group select {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.form-group input, .form-group select {
  font-size: medium;
}

.action {
  display: flex;
  justify-content: space-between;
}

.action a {
  display: flex;
  justify-content: center;
}

.picto {
  width: 15px;
  height: 15px;
}

.admin-manage .button {
  width: 10rem;
  font-size: 1rem;
  margin-bottom: 25px;
}

.admin-manage table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.admin-manage th {
  color: #fff;
  border-bottom: 3px solid var(--primary);
  padding: 10px;
}

.admin-manage td {
  border-bottom: 1px solid #fff;
  padding: 15px;
}

.admin-manage-mails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0 auto;
}

.admin-manage-mails a {
  width: 60px;
  padding: 20px;
}

.receive, .infomail, .infomail-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
}

.infomail, .infomail-content {
  justify-content: initial;
}

.infomail {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary);
}

.receive {
  justify-content: end;
}

/* Tablette min */
@media screen and (min-width: 576px) {
  #generalheader {
    background-image: url("../frontend/img/bg-tablet.jpg");
  }

  #logo img {
    width: 30%;
    height: 100%;
  }

  .button {
    width: 40%;
  }

  .hiddenmobile {
    display: flex;
  }

  .articlers {
    width: 45%;
  }

  .articlers p {
    margin: 5px 18px 0;
  }

  /*------------Page Valeurs-----------*/
  .valeurssection {
    width: 70%;
  }

  /*------------Page Bières-----------*/
  .presbiere {
    justify-content: space-around;
  }

  .presbiere img {
    width: 35%;
    margin-left: 5px;
  }

  .grouppresbiere {
    width: 55%;
  }

  .detailbiere {
    margin: 5px 25px;
  }

  #vsg {
    align-items: flex-start;
  }

  .vsg {
    width: 33%;
  }

  /*------------Page Contact-----------*/
  #envoyer {
    width: 50%;
  }

  #cadretxtmap h3 {
    font-size: 1.3rem;
  }
  
  #cadretxtmap p {
    font-size: 0.9rem;
  }
}

/* Tablette moyenne */
@media screen and (min-width: 768px) {
  #logofooter {
    width: 50%;
  }

  #map iframe {
    width: 992px;
  }

  .button {
    width: 32%;
    padding: 2% 15px;
  }

  .flex-button {
    width: 100%;
    display: flex;
    align-items: center;
  }

  #socials a.flex-button {
    width: 33%;
  }

  #socials .button {
    width: 80%;
  }

  #socials a:last-child {
    margin: 8px 0;
  }

  /*------------Page Contact-----------*/
  #contact input:not(#contact input[type="radio"], #envoyer, #rgpd),
  #biere-selection {
    width: 60vw;
  }

  #contact textarea {
    width: 100%;
    padding: 15px 15px;
  }

  /*------------Page Valeurs-----------*/
  .valeurssection {
    width: 60%;
  }

  /*---------Page Bières------------*/
  #biereplus a {
    width: 45%;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  #logo img {
    width: 20%;
  }

  .articlers {
    width: 31%;
  }

  #socials h2 {
    font-size: 2rem;
  }

  #map iframe {
    width: 1200px;
  }

  .button {
    width: 25%;
  }

  #alcoolmoderation {
    font-size: 0.6rem;
  }

  /*----- Formulaire ------*/
  #envoyer {
    width: 25%;
  }

  /*------------Page Valeurs-----------*/
  .valeurssection {
    width: 80%;
    margin-bottom: 80px;
  }

  .txtvaleurs,
  #bio img,
  #responsable img {
    width: 40%;
    margin: 0 20px;
  }

  #bio {
    margin-bottom: 80px;
  }

  #responsable {
    flex-direction: row-reverse;
  }

  /*------------Page Bières-----------*/
  .presbiere img {
    width: 25%;
  }

  /*------------Page Dashboard-----------*/
  .dashboardmenu li { 
    width: 50%;
  }
}

/* +1200px */
@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
  }

  .button {
    width: 15rem;
  }

  /*------------Home-----------*/
  #generalheader {
    background-image: url("../frontend/img/bg-desktop.jpg");
    background-position: left;
    margin: 0 auto;
  }

  #logmenu {
    width: 100%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #logmenu>a {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    margin-top: 10px;
  }
  
  #logmenu>a:nth-child(1):hover {
    color: var(--primary);
  }
  
  #buttonlogmenu {
    padding:5px 4px;
    width: 10rem;
    margin-left: 1rem;
    text-transform: none;
  }

  #menuburger {
    display: none;
  }

  #menudesktop {
    display: flex;
    height: 150px;
    justify-content: flex-end;
    width: 70%;
  }

  #entete {
    display: flex;
    justify-content: space-between;
  }

  #logo {
    width: 30%;
  }

  #logo img {
    width: 80%;
    padding: 10%;
  }

  #menunav {
    display: flex;
    width: 85%;
    align-self: center;
    justify-content: flex-end;
  }

  #menunav li {
    margin: 0 15px;
    text-transform: uppercase;
    color: var(--primary);
    font-size: 1.65rem;
    font-weight: 800;
    font-family: "Konstructor";
  }

  #menunav li:hover {
    color: var(--secondary);
  }

  #endheader {
    position: absolute;
    left: 60%;
    bottom: 35%;
    width: 40%;
  }

  #endheader h1 {
    font-size: 1.7rem;
    background-color: none;
  }

  #endheader.flex-button {
    width: 100%;
  }

  #endheader p {
    width: 50%;
  }

  /*------------Home-Bières-----------*/
  #bbrune {
    height: 50vh;
    background: radial-gradient(circle at center center, #1c1c1c 3%, #3f2d11 65%);
  }

  #bblanche {
    height: 50vh;
    background: radial-gradient(circle at center center, #1c1c1c 3%, #adaf9e 65%);
  }

  #bblonde > img:nth-child(2) {
    width: 175px;
  }

  #bbrune > a, #bblanche > a {
    width: 12rem;
    font-size: 0.9rem;
  }

  .bieres {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
      "bblonde bbrune"
      "bblonde bblanche"; 
    height: 100vh;
  } 
  
  .bblonde {
    grid-area: bblonde;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    align-content: center;
  }
  
  .bbrune {
    grid-area: bbrune;
  }
  
  .bblanche {
    grid-area: bblanche;
  }
  
  .bbrune, .bblanche {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    align-content: center;
  }
  
  .titrebiere {
  width: 100%;
  margin-top: 3%;
  }
  
  .verrebiere img {
    width: 100%;
    height: auto;
  }
  
  .verrebiere {
    width: 110px;
    height: auto;
    margin: 0px auto;
  }
  
  .verrebiere:first-child {
    width: 300px;
    height: auto;
    margin: 0px auto;
  }

  #socials h2 {
    font-size: 1.6rem;
  }

  #socials {
    margin-bottom: 80px;
  }

  /*------------Footer-----------*/
  #linklogofooter,
  #lieu,
  #socialsnetwork {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }

  #linksfooter {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
  }

  .linkfooter {
    width: 25%;
  }

  /*------------Page Contact-----------*/
  #contactsection {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  #contactpage h1, #contactpage h4 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }

  #contactpage h4 {
    margin-bottom: 30px;
    font-size: 1.7rem;
  }
  
  #contact {
    width: 50%;
  }

  #contactform {
    width: 100%;
  }

  #contactform label {
    margin: 0 auto;
    padding: 0;
  }

  #map {
    width: 47%;
    margin: 0 auto;
  }

  #map iframe {
    max-height: 450px;
  }
  
  #contact input:not(#contact input[type="radio"], #envoyer, #rgpd),
  #biere-selection {
    width: 100%;
  }

  #contact h4 {
    text-align: center;
  }

  #contact textarea {
    width: 100%;
    padding: 15px 15px;
  }

  /*------------Page Bières-----------*/
  .presbiere img {
    width: 20%;
  }

  /*------------Page Dashboard-----------*/
  .dashboardmenu li { 
    width: 30%;
  }

  .dashboardmenu a {
    padding: 26px;
  }

  .action {
    justify-content: space-evenly;
  }
}